@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-shine: shine 2s infinite linear;

  @keyframes shine {
    from {
      transform: translateX(-150%) skewX(-12deg);
    }
    to {
      transform: translateX(200%) skewX(-12deg);
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-report, #printable-report * {
    visibility: visible;
  }
  #printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }
  .no-print {
    display: none !important;
  }
}
